<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoexplorer</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/img/Diseño sin título (2).png" alt="Ecoexplorer Logo" />
        <div>
            <a href="index.html">inicio</a>
            <a href="destinos.html">Destinos</a>
            <a href="actividades.html">Actividades</a>
            <a href="atractivos.html">Atractivos</a>
        </div>
    </header>

    <main>
        <section>
            <h2>Actividades</h2>
            <p>Descubre los destinos más impresionantes que el mundo natural tiene para ofrecer.</p>
        </section>

        <section>
            <h2>Nuestras Recomendaciones</h2>
            <article>
                <h3>Aventura en la Selva Amazónica</h3>
                <p>Sumérgete en el corazón de la selva amazónica y vive una experiencia única rodeado de la fauna y flora más exótica.</p>
            </article>

            <article>
                <h3>Exploración de los Andes</h3>
                <p>Camina por las imponentes montañas de los Andes y descubre paisajes majestuosos.</p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ecoexplorer. Todos los derechos reservados.</p>
        <nav>
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </nav>
    </footer>
</body>
</html>