<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería de Imágenes</title>
  <!-- Enlace al CSS externo -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
  <h1 style="text-align: center; margin: 20px 0;">Galería de Imágenes Atractiva</h1>
</header>

<div class="galeria one-time">
  <div><img src="../static/img/macchu picchu 2.jpeg" alt="Macchu pichu" width=".300" height="300"></div>
  <div><img src="../static/img/misqui.jpg" alt="misqui" width="300" height="300"></div>
  <div><img src="../static/img/lago titicaca.jpeg" alt="Lago" width="300" height="300"></div>
  <div><img src="../static/img/trujillo2.jpg" alt="trjilo" width="300" height="300"></div>

<!-- Enlace al JS externo -->
<script src="../script.js"></script>
</body>
</html>

<footer>
  <p>&copy; 2024 Ecoexplorer. Todos los derechos reservados.</p>
  <nav>
      <a href="#">Política de Privacidad</a>
      <a href="#">Términos y Condiciones</a>
      <a href="#">Contacto</a>
  </nav>
</footer>