<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoexplorer</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../script.js" defer></script>
</head>
<body>
    <header>
        <img src="../static/img/Diseño sin título (2).png" alt="Ecoexplorer Logo" />
        <div>
            <a href="index.html">inicio</a>
            <a href="destinos.html">Destinos</a>
            <a href="actividades.html">Actividades</a>
            <a href="atractivos.html">Atractivos</a>
        </div>
    </header>

    <body>
        <main>
            <div class="carrousel">
                <div class="carrousel_item">
                    <center><img src="../static/img/macchu pichu.jpeg" alt="macchu pichu" class="image"></center>
                    <p class="title">Situada en los Andes peruanos, Cusco es un destino único que combina historia, cultura y paisajes espectaculares. Antiguo corazón del Imperio Inca, es la puerta de entrada a maravillas como Machu Picchu y el Valle Sagrado. Su arquitectura colonial e inca conviven en armonía, ofreciendo una experiencia inolvidable. ¡Descubre Cusco!</p>
                </div>
                <div class="carrousel_item">
                    <center><img src="../static/img/trujillo.jpg" alt="trujillo" class="image"></center>
                    <p class="title">Ubicada en la costa norte del Perú, Trujillo destaca por su historia, cultura y clima cálido todo el año. Hogar de maravillas como Chan Chan y la marinera, ofrece una rica mezcla de arqueología, arquitectura colonial y gastronomía norteña. ¡Un destino imperdible!</p>
                </div>
                <div class="carrousel_item">
                    <center><img src="../static/img/tumbes playa punta sal.jpg" alt="tumbes playa punta sal" class="image"></center> 
                    <p class="title">Ubicada en la frontera con Ecuador, Tumbes es conocida por sus playas paradisíacas, manglares únicos y su deliciosa gastronomía marina. Es el destino perfecto para disfrutar de la naturaleza, el sol y la tranquilidad. ¡Descubre el encanto de Tumbes!</p>
                </div>
                <div class="carrousel_item">
                    <center><img src="../static/img/volcan misqui.jpeg" alt="volcan misqui" class="image"></center>
                    <p class="title">Ubicada al pie del majestuoso volcán Misti, Arequipa destaca por su arquitectura colonial de sillar, su deliciosa gastronomía y su rica historia. Con su Centro Histórico, Patrimonio de la Humanidad, y maravillas naturales como el Cañón del Colca, es un destino imperdible en el sur del Perú. ¡Descubre Arequipa!</p>
                </div>
            </div>
        </main>
    </body>

    <footer>
        <p>&copy; 2024 Ecoexplorer. Todos los derechos reservados.</p>
        <nav>
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </nav>
    </footer>