<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoexplorer</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/img/Diseño sin título (2).png" alt="Ecoexplorer Logo" />
        <div>
            <a href="index.html">inicio</a>
            <a href="destinos.html">Destinos</a>
            <a href="actividades.html">Actividades</a>
            <a href="atractivos.html">Atractivos</a>
        </div>
    </header>
    <main>
        <div class="layout">
            <!-- Contenedor de la imagen -->
            <div class="contenedor">
                <img src="../static/img/Mancora.jpg" alt="Mancora" class="imagen-redonda">
            </div>
    
            <!-- Sección de texto -->
            <section>
                <h2>Explora lo Mejor de la Naturaleza</h2>
                <p>Descubre los destinos más impresionantes y asombrosos que la naturaleza te ofrece.☘️</p>
            </section>
        </div>
    
        <!-- Otra sección fuera del diseño de la imagen y texto -->
        <section>
            <h2>Nuestras Recomendaciones</h2>
            <article>
                <h3>Relajación y diversión en las hermosas playas de Mancora</h3>
                <p>Disfruta las hermosas vistas del océano Pacífico desde las bellas playas de Mancora🌊☀️.</p>
            </article>
    
            <article>
                <h3>Exploración de Mancora </h3>
                <p>Camina por la arena de las bellas playas de Mancora y adéntrate en una total paz y tranquilidad.</p>
            </article>
        </section>
    </main>
</body>
<footer>
    <p>&copy; 2024 Ecoexplorer. Todos los derechos reservados.</p>
    <nav>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">Contacto</a>
    </nav>
</footer>
</html> 